# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtualenv
env/
venv/
.venv/

# Build con PyInstaller
build/
dist/
*.spec

# Ngrok
ngrok.yml
*.log

# Dati ricevuti dal server
screenshots/
received_data.txt
counter.txt

# File temporanei
*.tmp
*.swp
